{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} " role="alert">
            {{ message.message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ user_edit_form.as_p }}
    <input class="btn btn-outline-primary" type="submit" value="更新">
</form>
<a class="btn btn-outline-primary" href="{% url 'accounts:change_password' %}">パスワード更新</a>
{% endblock %}